[Unit]
Description=Site Daemon
After=network.target

[Service]
Restart=on-failure
User=admin
WorkingDirectory=/home/admin/
ExecStart=python3 site.py

[Install]
WantedBy=multi-user.target
